.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
content/.obsidian/plugins/remember-cursor-position/cursor-positions.json
content/.obsidian/workspace.json
